@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", system-ui;
}
body{
    background-color: rgba(2, 0, 14, 0.758);
    display: grid;
    grid-template-columns: 1000px;
    justify-content: space-evenly;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 1rem;
}
label{
    margin-left: .5rem;
}
.left-content{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    list-style: none;
}
.navigation li{
    margin-right: 1rem;
}
.title{
    margin-right: 3rem;
    color: coral;
}
a{
    text-decoration: none;
    color: darkgrey;
}
.btn{
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #cd8c38;
    border-radius: 2rem;
    color: #1e1f26;
    transition: 0.3s ;
}
.btn-1{
    width: 100%;
    text-align: center;
}
.active{
    color: coral;
}
.navigation li a:hover{
    color: chocolate;
}
.main-content{
    display: grid;
    color: #adadad;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
}
.sidebar{
    background: linear-gradient(45deg, rgba(255,255,255,.05),rgba(205,140,56,.15));
    backdrop-filter: blur(5px);
    height: fit-content;
    border-radius: 1rem;
    padding: 2rem 2.5rem;
    width: 15rem;
}
.sidebar-group{
    margin-bottom: 1rem;
}
.sg-title{
    margin-bottom: .5rem;
    color: #fff;
}
input{
    margin-bottom: .6rem;
}
label{
    margin-left: .5rem;
}
input[type=checkbox]:checked{
    accent-color: #cd8c38;
}
input[type=radio]:checked{
    accent-color: #cd8c38;
}
.btn:hover{
    background-color: #916022;
}
.upcoming-img-bx{
    position:relative;
    height: 300px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}
.upcoming-title{
    position :absolute;
    top:2rem;
    left:2rem;
    color:#cd8c38;
    background-color: #1e1f26;
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid #cd8c38;
    font-weight: 500;

}
.button{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 100%;
}
.btn:hover{
    background-color: #92601f;
}

.cm{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.cm-img-box{
    position: relative;
    height: 500px; 
    width: auto;
    margin-bottom: .1rem;
    border-radius:.5rem .5rem;
    overflow: hidden;

}
.current-movie{
    background: linear-gradient(45deg, rgba(255,255,255,.05),rgba(205,140,56,.15));
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;

}
.movie-title{
    color: #fff;
    margin-bottom: .2rem;
}
.booking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

}
.price{
    color: #cd8c38;
}
.movie-content{
    padding-bottom:2rem ;
}
